/* Side color and body styles*/
@charset: utf-8;
@media (min-width: 2000px){
	html {
	margin: 0;
	}
	body {
		margin: 0;
		background-color: #dbdbd5;
	}

	.mainpage {
		margin-left: 15px;
		margin-right: 15px;
	}
	/* Header Styles */

	.mainh {
		font: 33px Helvetica Neue, Helvetica, Arial, sans-serif ;
		padding: 10px;
		font-weight: bold;
		background-color: #313131;
		color: #008800;
	}
	
	.center {
		text-align: center;
	}
	/*nav styles*/
	

	.alignleft{
		
	}



	/* main page stuff*/
	aside {
		float: right;
		text-align: left;
		width:20%;
		background-color: #006600;
		height: 100%;

	}
	aside> h3 {
		font: 20px Helvetica, Arial, sans-serif; 
		padding-left: 10px;
		color: #FFFFFF;
	}
	aside > p {
		font: 15px Helvetica, Arial, sans-serif; 
		color: white;
		padding-left: 10px;
	}
	aside a {
		font: 17px Helvetica, Arial, sans-serif; 
		text-decoration: underline overline #FFFFFF;
		color: #FFFFFF;
		
	}
	aside image {
	
	}
	p {
		font: 15px Helvetica, Arial, sans-serif;
	}

	h2 {
		font: 23px Helvetica Neue, Helvetica, Arial, sans-serif;
		font-weight: bold;
	}
	#upcoming-eventsh {
		font: 19px Helvetica Neue, Helvetica, Arial, sans-serif;
		font-weight: bold;
	}
	aside > h3 {
		font-size: 19px, Helvetica Neue, Helvetica, Arial, sans-serif;
	}
	p {
		font: 17px ;
	}
	.appicon{
		width: 28;
		height: 28;
		padding-left: 4px;
	}


	/*Footer styles*/
	.footer {
		width: 80%;
		max-width: 1100px;
		position: fixed;
		bottom: 10px;
		background-color: #2d2d2d;
		padding: 5px;
		color: 007800;
	}
	.footer a{
		color: 008900;
		font: 15px Helvetica Neue, Helvetica, Arial, sans-serif;
		
	}
	
	#parent-width{
		width: 100%;
		max-width: 1100px;
		display:block;
		background-color: #1839F6;
		
	}

	a {
		color: #007700;
		text-decoration: none;
		letter-spacing: 0.32px;
		font-weight: 600;
	}


/*Upcoming event table css*/
table.upcoming-events {
	border: 1px  black solid;
	margin-right: 10px;
}
table.upcoming-events th {
	font-weight: bold;
	font: 17px Helvetica, Arial, sans-serif;
	padding: 5px;
	border: 1px  black solid;
}

table.upcoming-events td {
	font: 17px Helvetica, Arial, sans-serif;
	padding: 8px;
	border: 1px black solid;
}

/*Table of Contents*/
.content-table {
	text-align: left;
	padding: 0px;
	min-width: 70%;
	border: 1px black solid;
}

.content-table th{
	text-align: center;
	padding: 0px;
	border: 1px black solid;

}
}