/* Dropdowns got their own css sheet to prevent clutter in the primary css sheets. Will be transferred later*/



/*nav dropdown styles*/



.nav {
		font-family: Candara, Helvetica Neue, Helvetica, Arial, sans-serif;
		overflow: hidden;
		background-color: #f5f5f5;
	}

	.nav a {
		float: left;
		font-size: 19px;
		font-weight: bold;
		color: #00308F;
		padding: 13px 10px 13px 15px;
		text-decoration: none;
	}

/*nav dropdown styles*/



.dd {
  float: left;
}

.dd .dd-button {
  font-size: 19px;  
  font-weight: bold;
  color: #00308F;
  padding: 13px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border: none;
  outline: none;
}

.nav a:hover {
  background-color: #00308F;
  color: white;
}

.dd:hover .dd-button{
  background-color: #00308F;
  color: white;
}

.dd-content {
  display: none;
  position: absolute;
  background-color: #f5f5f5;
  min-width: 160px;
  margin-top: 1.5px;

}

.dd-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dd-content a:hover {
  background-color: #00308F;
  color: white;
}

.dd:hover .dd-content {
  display: block;
}

.dd2 {
  float: left;
}

.dd2 .dd2-button {
  font-size: 19px;  
  font-weight: bold;
  color: #00308F;
  padding: 13px 10px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
  border: none;
  outline: none;
}

.nav a:hover {
  background-color: #00308F;
  color: white;
}

.dd2:hover .dd2-button {
  background-color: #00308F;
  color: white;
}

.dd2-content {
  display: none;
  position: absolute;
  background-color: #f2f2f2;
  min-width: 200px;
  margin-top: 1.5px;

}

.dd2-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dd2-content a:hover {
  background-color: #00308F;
  color: white;
}

.dd2:hover .dd2-content {
  display: block;
}