/* Side color and body styles*/
@charset: utf-8;
@media (min-width: 809px){
	
	.mainh{
		font-family: Candara, Helvetica Neue, Helvetica, Arial, sans-serif;
		text-align: center;
		font-size: 20px;
		font-style: bold;
		color: #00308F;
	}
	aside {
		font-family: Candara, Helvetica Neue, Helvetica, Arial, sans-serif;
		width:10%;
		float: left;
		margin-right: 15px;
		margin-left: 20px;
		background-color: #FFFFFF;
		height: 80vh;
		color: #00308F;
		border-color:#00308F;
		border-width: 1px;
	}
	aside a {
		color: #00308F;
	}
}
/*Banner*/
#banner {
	width: 100%;
}
/*Upcoming event table css*/
body {
	font-family: Candara, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.hue1 {
	margin-left: 25px;
}
table.upcoming-events {
    border-collapse: collapse;
    margin: 25px;
    font-size: 0.9em;
    font-family: Candara, Helvetica Neue, Helvetica, Arial, sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table.upcoming-events th {
    background-color: #00308F;
    color: #ffffff;
    text-align: left;
    padding: 12px 15px;

}

table.upcoming-events td {
	font: 17px Candara, Helvetica Neue, Helvetica, Arial, sans-serif;
	padding: 8px;
	border: 1px #00308F solid;
	padding: 12px 15px;
}


table.upcoming-events tr {
    border-bottom: 1px solid #dddddd;
}

table.upcoming-events tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table.upcoming-events tr:last-of-type {
    border-bottom: 2px solid #009879;
}
#wrapper {
    width: 80%;
    border: 1px solid #00308F;
    overflow: hidden;
}
#upcoming-events {
    width: 50%;
    float:left;
	height: 700px;
}
#recent-events {
    overflow: hidden; /* if you don't want #recent-events to wrap below #upcoming-events */
	height: 700px;
}
/*Table of Contents*/
.content-table {
	text-align: left;
	padding: 0px;
	min-width: 70%;
	border: 1px black solid;
}

.content-table th{
	text-align: center;
	padding: 0px;
	border: 1px black solid;

}

.appicon {
	width: 25px;
	height:25px;
}

@layer base, product, carousel, carouselItemsAndThumbs, carouselArrows;

@layer carousel {
  .carousel {
    display: grid;
    background: white;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    inline-size: 70%;
	border:2px #00308F solid;
    anchor-name: --carousel;
    scroll-marker-group: after;
    scroll-behavior: smooth;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

    img {
      width: 100%;
      object-fit: contain;
      object-position: center;
    }

    /*     Set the scroll marker group */
    &::scroll-marker-group {
      display: flex;
      margin-top: 20px;
      gap: 16px;
      height: 70px;
      width: 100%;
    }
  }
}



@layer carouselArrows {
  .carousel {
    &::scroll-button(right),
    &::scroll-button(left) {
      cursor: pointer;
      position: absolute;
	  inline-size: 44px;
      position-anchor: --carousel;
      background-color: rgb(255 255 255 / 0.5);
      border: 1px solid black;
      border-radius: 50%;
      line-height: 1;
      aspect-ratio: 1;
      content: "";

      top: anchor(center);
      inset-inline: anchor(start) anchor(end);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15.75 19.5 8.25 12l7.5-7.5' /%3E%3C/svg%3E%0A");
      background-size: 24px 24px;
      background-repeat: no-repeat;
      background-position: center;
      translate: 20px -50%;
      transition: border-color 0.5s ease-out;
    }

    &::scroll-button(right) {
      top: anchor(center);
      content: "";
      inset-inline: auto anchor(end);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m8.25 4.5 7.5 7.5-7.5 7.5' /%3E%3C/svg%3E%0A");
      translate: -20px -50%;
    }
  }
}
@layer base {
  *,
  *::before,
  *::after {
  }
  body {
    background: #ffffff;
    margin: 0;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

}

#eeeeeeeee


@media (max-width: 809px){
	.mainh{
		font-family: Candara, Helvetica Neue, Helvetica, Arial, sans-serif;
		text-align: center;
		font-size: 30px;
		font-style: bold;
		color: #00308F;
	}
	aside {
		font-family: Candara, Helvetica Neue, Helvetica, Arial, sans-serif;
		width:10%;
		float: left;
		margin-right: 15px;
		margin-left: 20px;
		background-color: #FFFFFF;
		height: 80vh;
		color: #00308F;
		border-color:#00308F;
		border-width: 1px;
	}
  	}
	aside a {
		color: #00308F;
	}
}
/*Banner*/
#banner {
	heignt: 20%;
}
/*Upcoming event table css*/
body {
	font-family: Candara, Helvetica Neue, Helvetica, Arial, sans-serif;
}
.hue1 {
	margin-left: 25px;
}
table.upcoming-events {
    border-collapse: collapse;
    margin: 25px;
    font-size: 0.9em;
    font-family: Candara, Helvetica Neue, Helvetica, Arial, sans-serif;
    min-width: 400px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

table.upcoming-events th {
    background-color: #00308F;
    color: #ffffff;
    text-align: left;
    padding: 12px 15px;

}

table.upcoming-events td {
	font: 17px Candara, Helvetica Neue, Helvetica, Arial, sans-serif;
	padding: 8px;
	border: 1px #00308F solid;
	padding: 12px 15px;
}


table.upcoming-events tr {
    border-bottom: 1px solid #dddddd;
}

table.upcoming-events tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

table.upcoming-events tr:last-of-type {
    border-bottom: 2px solid #009879;
}
#wrapper {
    width: 80%;
    border: 1px solid #00308F;
    overflow: hidden;
}
#upcoming-events {
    width: 50%;
    float:left;
	height: 700px;
}
#recent-events {
    overflow: hidden; /* if you don't want #recent-events to wrap below #upcoming-events */
	height: 700px;
}
/*Table of Contents*/
.content-table {
	text-align: left;
	padding: 0px;
	min-width: 70%;
	border: 1px black solid;
}

.content-table th{
	text-align: center;
	padding: 0px;
	border: 1px black solid;

}

.appicon {
	width: 25px;
	height:25px;
}

@layer base, product, carousel, carouselItemsAndThumbs, carouselArrows;

@layer carousel {
  .carousel {
    display: grid;
    background: white;
    grid-auto-columns: 100%;
    grid-auto-flow: column;
    inline-size: 70%;
	border:2px #00308F solid;
    anchor-name: --carousel;
    scroll-marker-group: after;
    scroll-behavior: smooth;
    overflow-x: auto;
    overscroll-behavior-x: contain;
    scroll-snap-type: x mandatory;
    scrollbar-width: none;

    img {
      width: 100%;
      object-fit: contain;
      object-position: center;
    }

    /*     Set the scroll marker group */
    &::scroll-marker-group {
      display: flex;
      margin-top: 20px;
      gap: 16px;
      height: 70px;
      width: 100%;
    }
  }
}



@layer carouselArrows {
  .carousel {
    &::scroll-button(right),
    &::scroll-button(left) {
      cursor: pointer;
      position: absolute;
	  inline-size: 44px;
      position-anchor: --carousel;
      background-color: rgb(255 255 255 / 0.5);
      border: 1px solid black;
      border-radius: 50%;
      line-height: 1;
      aspect-ratio: 1;
      content: "";

      top: anchor(center);
      inset-inline: anchor(start) anchor(end);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M15.75 19.5 8.25 12l7.5-7.5' /%3E%3C/svg%3E%0A");
      background-size: 24px 24px;
      background-repeat: no-repeat;
      background-position: center;
      translate: 20px -50%;
      transition: border-color 0.5s ease-out;
    }

    &::scroll-button(right) {
      top: anchor(center);
      content: "";
      inset-inline: auto anchor(end);
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke-width='1.5' stroke='currentColor' class='size-6'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='m8.25 4.5 7.5 7.5-7.5 7.5' /%3E%3C/svg%3E%0A");
      translate: -20px -50%;
    }
  }
}
@layer base {
  *,
  *::before,
  *::after {
  }
  body {
    background: #ffffff;
    margin: 0;
    font-family: "Roboto", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.5;
    font-style: normal;
    font-variation-settings: "wdth" 100;
  }

}




